attr==0.3.2
altair>=5.2.0
annotated-types>=0.6.0
ansi2html>=1.9.1
beautifulsoup4==4.12.3
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==42.0.2
Cython>=0.29.24,<0.30.0
dl==0.1.0
docutils==0.20.1
filelock==3.13.1
fuzzywuzzy==0.18.0
gensim==4.3.2
HTMLParser==0.0.2
ipython>==7.0.0
ipywidgets==8.1.1
Jinja2==3.1.3
jnius==1.1.0
keyring==24.3.0
matplotlib==3.8.2
mock==5.1.0
nltk==3.8.1
numpy==1.26.4
pandas==2.2.0
Pillow==10.2.0
plotly==5.18.0
protobuf==4.25.2
pyOpenSSL==24.0.0
ywin32==306
pywhatkit>=5.4
railroad==0.5.0
redis==5.0.1
scikit_learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
spacy==3.7.3
Sphinx==7.2.6
streamlit==1.31.0
textblob==0.17.1
thread==0.1.3
tornado==6.4
trove_classifiers==2024.1.31
urllib3_secure_extra==0.1.0
wordcloud==1.9.3
xmlrpclib==1.0.1
